.header__container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  justify-content: space-between;
}

.header::after {
  content: '';
  display: block;
  height: 1px;
  background-color: var(--line-cl);
}
